<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Amal_CalculaterApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>47C117AB2178C8CD007572D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47C117BF2178C8CD007572D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47C117CA2178C8CD007572D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
